*{
  font-family: 'Raleway',sans-serif;
  box-sizing: content-box;
}

body, html{
  padding: 0;
  margin: 0;;
}

a{
  cursor: pointer;
  text-decoration: none;
}

/*Direct style for nav tag*/
nav{
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 80px;
  z-index: 1000;
  margin-top: 0;
  position: fixed;
  padding-top: 0px;
  background: none;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
/*Javascript style toggle for menu appear and desappear*/
.header-in{
  background-color: rgba(247, 182, 23, 0.81);
}
/**/
/*Navgation general styles*/
/*Background Menu*/
nav .nav-background {
  top: 0px;
  opacity:0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  display: table;
  background: none;
  position: absolute;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
nav.open .nav-background {
  opacity: 1;
  background-color: rgba(247, 182, 23, 0.81) !important;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
nav.open {
  height: 100%;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
/*Navigation list*/
nav ul {
  top: -10%;
  padding: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}
nav ul li{
  visibility: hidden;
}
nav ul li a{
  color:white;
  width: 100%;
  display: block;
  padding: 8px 0 0;
  letter-spacing: -0.06em;
}
nav ul li a:hover{
  color:#f7b617;
  background-color: white;
}
nav.open ul {
  top: 0;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg);
}
nav.open ul li {
  color:#fff;
  font-size: 60px;
  visibility: visible !important;
}
/*Menu bar logo and menu styles general*/
/*Logo*/
.logo,
.menu{
  position: absolute;
  z-index: 2000;
}
.logo{
  left:15px;
  top:-4px;
  width: 90px;
  height: 74px;
  padding: 0.4% 3%;
  text-align: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/icon/laboratoria.svg);
}
.open .logo,
nav.solid #logo .logo {
  background-image: url(../img/icon/laboratoria.svg);
}

.logo img{
  z-index: 2000;
}
/*Hamburger*/
.menu{
  top:0;
  right:0;
  height: 4px;
  width: 24px;
  text-align:right;
  margin: 2rem 2rem;
  background: #f7b617;
  transition: all 0.3s;
}
.menu:before{
  top: -8px;
}
.menu:after{
  top: 8px;
}
#toggle:hover:before {
  top: -9px;
}
#toggle:hover:after {
  top: 9px;
}
.menu:before,
.menu:after{
  content: '';
  width: 24px;
  height: 4px;
  z-index: -1;
  display: block;
  position: absolute;
  background: #f7b617;
  transition: all 0.3s;
}
#toggle:hover {
  transition: top 0.4s;
}
/*Javascript style toggle for menu appear and desappear style background*/
.solid #toggle .menu {
  background: #fff;
}
.solid #toggle .menu:after{
  background-color: #fff;
}
.solid #toggle .menu:before{
  background-color: #fff;
}
/*Javascript style toggle for menu hamburger appear and desappear*/
.open .menu {
  background: none !important;
}
.open .menu:after {
  top: 0 !important;
  background: #fff !important;
  transform: rotate(45deg);
}
.open .menu:before {
  top: 0 !important;
  background: #fff !important;
  transform: rotate(-45deg);
}

.meets{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  }
/* TypeWrriten */
.text{
  margin-top: -20px;
    padding: 0;
}

.writer{
  color: lime;
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  background-color: rgb(5, 10, 40);
  padding: 80px;
  animation: type 4s steps(60, end);
}

.writer:nth-child(2){
  animation: type2 8s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

/* Grid */
.grid{
  margin-top: 80px;
  text-align: center;
  display: block;
}

figure{
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: -3px;
}

figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

figcaption span{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #ffffff;
  text-transform: uppercase;
}

figure img{
  transition: all 0.7s;
  width: 300px;
  height: 300px;
}

figure:hover figcaption{
  background: rgba(255, 253, 10, 0.4);
}

figcaption:hover span{
  opacity: 1;
  top: 0;
}

figcaption:hover span:after{
  width: 50%;
}
figure:hover img{
  transform: scale(1.2);
}


/* Footer*/
footer{
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: rgb(5, 10, 40);
  padding: 15px;
}
